<div class="container">
	<div class="row">
		<h2 class="text-center text-uppercase">About Ruby Monday</h2>
		<div class="col-md-6">
			<%= image_tag("ruby2.jpg", class: "img-responsive img-rounded") %>
		</div>
		<div class="col-md-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto rem omnis laborum unde accusantium saepe illum quod eligendi, consequatur perspiciatis provident, ipsam autem aut earum dolores quo, doloribus deserunt nostrum?</p>
			<p>Vel tempore iusto hic officiis deserunt, quam mollitia magni repellat saepe quae doloribus nam esse voluptatum adipisci tempora optio, natus odit pariatur perferendis consectetur nostrum iste cupiditate facilis totam ipsam!</p>
			<p>Voluptate distinctio quas necessitatibus ipsam quo, culpa maiores eos non, cumque vel ut nulla beatae repellendus expedita, facilis cupiditate ratione. Nisi nobis aliquam iste, quo. Tempora omnis inventore at iure.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex maxime quod quisquam iure tempora neque, quos velit, facere omnis eveniet veritatis, eum natus laboriosam laborum minima dolores pariatur quibusdam quae!</p>
			<p>Modi omnis asperiores quia earum mollitia quaerat perferendis! Eaque officiis quos ut porro nihil provident voluptatum natus, consequuntur similique, eum modi sint repellendus id quam ipsum alias molestias rem error.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3 class="text-center text-uppercase">Sample Title</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus placeat laudantium atque, quod minus, cupiditate accusantium molestias nostrum velit dolore ullam officia voluptas eos qui natus! Illo, quae suscipit! Provident!</p>
		</div>
		<div class="col-md-4">
			<h3 class="text-center text-uppercase">Sample Title</h3>
			<p>Veritatis molestias, nam ipsam nemo blanditiis nisi temporibus velit ut unde ratione necessitatibus quibusdam modi fugit recusandae sed in maiores cumque voluptates esse vel minus magnam. Provident quibusdam, doloremque sit!</p>
		</div>
		<div class="col-md-4">
			<h3 class="text-center text-uppercase">Sample Title</h3>
			<p>Aliquam ipsam deserunt odio rerum neque nam fugit vel ipsa architecto corporis unde iste, minus aperiam est perspiciatis facilis adipisci laboriosam officiis cum perferendis animi, facere odit ab vero. Placeat!</p>
		</div>
	</div>
</div>