<div id="landingImage" class="img-responsive">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-uppercase text-center landingText">
      <h1 class="animated fadeInUp">
        Welcome to the Ruby Monday Blog
      </h1>
      <h3 class="">Where we talk Ruby, Rails, and funny cat gifs</h3>
    </div>

  </div>

</div>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-4">
      <h3 class="text-center text-uppercase">Our Blog Rules</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam rem est nisi, libero eius odit quam labore, incidunt, sapiente reprehenderit nobis dolores culpa! Possimus sunt vel vero nesciunt eaque!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis alias accusamus voluptatum ipsa consequatur est voluptates quod, voluptatem et fugit perspiciatis saepe rem quia, veritatis ad quas at, ipsam quasi!</p>
      </div>
      <div class="col-md-4">
      <h3 class="text-center text-uppercase">Our Community</h3>
        <p>Sint non doloribus repellendus, rerum? Sunt voluptas autem asperiores, nostrum quasi aut assumenda non hic corporis blanditiis quis obcaecati, quo quod cum ullam quia in. Sunt unde, aut sint placeat!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae temporibus quam molestias veniam iste ullam deserunt rem reiciendis. Consectetur et sequi sit molestiae accusantium repellat libero dignissimos, possimus obcaecati. Porro.</p>
      </div>
      <div class="col-md-4">
      <h3 class="text-center text-uppercase">Why Ruby Monday?</h3>
        <p>Asperiores eveniet, adipisci quos similique, harum repellat odit. Quibusdam, recusandae deserunt explicabo est voluptatibus nulla minus voluptatem ullam distinctio nihil, eveniet inventore rem qui ratione fugit tenetur veritatis, unde magni.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod beatae dolores, cum velit cupiditate sapiente illum adipisci eum eligendi sint numquam officiis, necessitatibus repellat ex, quam repellendus recusandae harum libero.</p>
      </div>
    </div>
</div>
