<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2 show-tag-posts">
      <h1>
        <span class="glyphicon glyphicon-tag small"></span>
        <%= @tag.content %>
      </h1>

      <% @posts.each do |post| %>
        <%= render 'posts/preview', post: post, tags: post.tags %>
      <% end %>
    </div>
  </div>
</div>
