/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
$white: #fff;
$ruby: #bc0d00;
$gray: #dedede;
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;
$open: 'Open Sans', sans-serif;
$mobile: 480px;
$tabet: 768px;


h1, h2, h3, h4, h5, h6{
	font-family: $montserrat;
}

body{
	font-family: $open;
}
.alert-success{
  background: $ruby;
  color: $white;
}
.alert-danger{
  background: $ruby;
  color: $white;
}
.alert-warning{
  background: $ruby;
  color: $white;
}
.navbar-default {
  background-color: $ruby;
  border: none;
  .navbar-brand{
  	color: $ruby;
    font-family: $montserrat;
    background: $white;
    &:hover{
      color: $white;
      transition: all 0.4s;
    }
  }
  .navbar-toggle {
      border-color: $white;
    }
    .navbar-toggle .icon-bar {
      background-color: $white;
    }
  .navbar-nav > li > a{
  	color: $white;
  	&:hover{
      color: $ruby;
      background: $white;
  		transition: all 0.4s; 		
  	}
  }
}
.navbar{
	border-radius: 0;
	border: none;	
  margin-bottom: 0;
}
.landingText{
  position: relative;
  margin: 25vh auto;
  color: $white;
  h1{
    font-size: 4em;
  }
  @media screen and (max-width: $mobile) {
    margin: 25vh auto;
    h1{
      font-size: 2.2em;
    }
  }
}
#landingImage{
  background: linear-gradient(rgba(0, 0, 0, 0.1), 
    rgba(0, 0, 0, 0.1)), image-url('ruby1.jpg') no-repeat 0 200px;
  background-position: center center;
  background-size: cover;
  height: 500px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
#aboutImage{
  background: image-url('ruby2.jpg') no-repeat 0 100px;
  background-position: center center;
  background-size: cover;
  height: 500px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  
}