// Place all the styles related to the paginator here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
  li {
    a, a:hover {
      color: $ruby;
    }

    &.active a,
    &.active a:hover {
      background: $ruby;
      border-color: $ruby;
      color: $white;
    }
  }
}
