// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-preview {
  .post-timestamp {
    color: $gray;
  }
  .post-body {
    line-height: 1.5em;
    @include line-fade(1.5em, 5);
    overflow: hidden;
  }
}
