<div class="col-md-2 sidebar well">
    <h3>Sidebar</h3>
    <p>For other things</p>
    <p>Such as:</p>
    <ul>
      <li>Author</li>
      <li>Author Bio</li>
      <li>Author links</li>
      <li>All Tags</li>
      <li>Recent Posts</li>
    </ul>
</div>
