<div class="container">
  <div class="row add-whitespace">
    <div class="col-md-8 col-md-offset-2 create-post">
      <h1>Edit Post</h1>
      <%= render 'form', post: @post, submit_label: 'Update Post' %>
    </div>
  </div>
</div>
