<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <h1>Welcome to the Blog</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2 show-all-posts">
      <% @posts.each do |post| %>
        <%= render 'preview', post: post, tags: post.tags %>
      <% end %>
      <div class="text-center">
        <%= paginate @posts %>
      </div>
      <%= render 'empty' if @posts.empty? %>
    </div>
    <%= render 'sidebar' %>
  </div>
</div>
