<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <h1>Welcome to the Blog</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2 show-all-posts">
      <% @posts.each do |post| %>
        <%= render 'posts/preview', post: post %>
        <%= render 'tags/inline', tags: post.tags %>
      <% end %>
    </div>
    <%= render 'sidebar' %>
  </div>
</div>
